#wrapper{
    display:grid;
    grid-auto-rows: auto;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

nav{
}

main{
}

footer{
}

#samplephotosbot{
}

#citybanner{
}

