*{
    box-sizing:border-box;
}

body{ 
    background-color:#FFFFFF;
     color:#666666;
     font-family: verdana,arial,sans-serif;
     background-image: linear-gradient(to bottom, #eeeeee,#ffffff); 
     background-attachment:fixed; 
     margin:0px;
    }

  header{
    background-color:#003058;
    color:#FFF;
    font-family: georgia,sans-serif;
    grid-row: 1/ 2;
    grid-column: 2 / -2;
    }
    
header h1{
    line-height:140%;
    padding: .5rem;
    background-image: url('utlogo.svg');
    background-position: right;
    background-repeat: no-repeat;
    padding: 1em;
    background-origin: content-box;
    margin:0;
    }  
header a{
        text-decoration:none;
        color:#FFF;
    } 
nav{
    font-weight: bold;
    background-color: #424242;
    grid-row: 2 / 3;
    grid-column: 2/ -2;
    position:sticky;
    top:0;
    }
nav ul{
    margin:0px;  
    padding:0px;
    display:flex;
    list-style-type:none;
    flex-flow: row nowrap;
}

nav ul li{
    width:100%;
}

nav a {
    text-decoration: none;
    color:#FFF;
    padding:1rem 0rem;
    display: block;
    text-align: center; 
}   

nav a:hover{
    background-color:#BA1C21;
}
h2{
    color: #424242;
    font-family: Georgia,sans-serif;
    }

footer{
    font-style:italic;
    font-size: .70rem;
    padding: 1rem;
    text-align:center;
    grid-row: 5/ 6;
    grid-column: 2/ -2;
}
dt{
    color:#003058;
    font-weight: bold;
    }
.ut{
    color:#BA1C21;
    font-weight:bold;
}

#wrapper{
    display:grid;
    grid-auto-rows: auto;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
h3{
    color: #003058;
}
main{
    padding: 0rem 2rem;
    grid-row: 4/ 5;
    grid-column: 2/-2;
    background-color:#FFF; 
}
main img{
    float: right;
    padding-left:2rem;
}
#alumnihero{
    background-image: url('images/alumnihero.jpg');
    height:300px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    grid-row: 3/ 4;
    grid-column: 1/ -1;
}
#homehero{
    background-image: url('images/homehero.jpg');
    height:300px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    grid-row: 3/ 4;
    grid-column: 1/ -1;
}
#studenthero{
    background-image: url('images/studenthero.jpg');
    height:300px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    grid-row: 3/ 4;
    grid-column: 1/ -1;
}
#facultyhero{
    background-image: url('images/facultyhero.jpg');
    height:300px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    grid-row: 3/ 4;
    grid-column: 1/ -1;
}
form{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
    gap:0.75rem;
    width:100%;
}
form input,form textarea{
    font-size:1rem;
    padding:10px;
    color:#666666;
    background-color:#fafafa;
    border:none;
}
form input:focus, form textarea:focus{
    outline:none;
    background-color:#f0f0f0;
}
form label{
    padding:10px;
    text-align:right;
}
#mySubmit{
    width:10rem;
    grid-column:2/3;
}

#bluebar{
    background-color: #003058;
    grid-row: 1/2;
    grid-column: 1/-1;
   
}
#greybar{
    background-color:#424242;
    grid-row: 2/3;
    grid-column: 1/-1;
    
}


@media only screen and (max-width:1100px) {
    #wrapper{
        grid-template-columns: minmax(0px,1fr) repeat(6,minmax(0,150px)) minmax(0px, 1fr);
    }
}                                              
@media only screen and (max-width:900px){
    nav{
        grid-row:2/3;
        grid-column: 1/5;
        position: static;
    }
    nav ul{
        flex-flow: column nowrap;
    }
    #homehero{
        grid-row:2/5;
        grid-column: 5/8;
        height:auto;
    }
    #studenthero{
        grid-row:2/5;
        grid-column: 5/8;
        height:auto;
    }
    #facultyhero{
         grid-row:2/5;
        grid-column: 5/8;
        height:auto;
    }
    #alumnihero{
         grid-row:2/5;
        grid-column: 5/8;
        height:auto;
    }
    main img{
        float:none;
        width:100%;
        height:auto;
        padding-left: 0;
    }
}

@media only screen and (max-width:600px){
    header h1{
        background-image:none;
        text-align:center;
    }
    nav{
        grid-row: 2/3;
        grid-column: 1/-1
    }
    #homehero{
        display:none;
    }
    #studenthero{
        display:none;
    }
    #facultyhero{
        display:none;
    }
#alumnihero{
    display:none;
}