body{ 
    background-color:#FFFFFF;
     color:#666666;
     font-family: verdana,arial,sans-serif;
     background-image: linear-gradient(to bottom, #eeeeee,#ffffff); 
     background-attachment:fixed; 
    }

  header{
    background-color:#003058;
    color:#FFF;
    font-family: georgia,sans-serif;
    }

header h1{
    line-height:140%;
    padding: .5rem;
    background-position: right;
    margin:0;
    }   
nav{
    font-weight: bold;
    background-color: #F3F3F3;
    }
h2{
    color: #424242;
    font-family: Georgia,sans-serif;
    }

footer{
    font-style:italic;
    font-size: .70rem;
}
dt{
    color:#003058;
    font-weight: bold;
    }
.ut{
    color:#BA1C21;
    font-weight:bold;
}

#wrapper{
    background-color:#ffffff;
    width:80%;
    min-width:960px;
    max-width: 2048px;
    margin-right:auto;
    margin-left:auto;
    box-shadow: 0px 3px 3px rgba(66,66,66,.3);
}